<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag 'contact_us_style' %>
</head>
<body>

    <div class="contact-container" id="contact-container">

        <div class="contact-container-north">
            <h1>Contact Us</h1>
        </div>

        <div class="contact-container-south">
            <form action="/invia" method="post">
                <div class="contact-form-north">
                <div class="row">
                    <label for="name">Name</label>
                    <label for="email">Email</label>
                </div>
                <div class="row">
                    <input type="text" id="name" name="name" class="input-name">
                    <input type="email" id="email" name="email" class="input-email">
                </div>
                <div class="row">
                    <label for="subject">Oggetto</label>
                </div>
                <div class="row">
                    <input type="text" id="subject" name="subject" class="input-subject">
                </div>
                </div>


                <div class="contact-form-south">
                    <label for="message">Messaggio:</label>
                    <textarea id="message" name="message" placeholder="Digita qui..." required></textarea>

                    <input type="submit" value="Invia">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
