<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag 'contact_us_style' %>
</head>
<body>

    <div class="contact-container" id="contact-container">
        <div class="contact-container-north">
            <h1>Contact Us</h1>
        </div>
        <div class="contact-container-south">
            <h1>Contact Us</h1>
        </div>
    </div>

</body>
</html>
