<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag 'home_style' %>
</head>
<body>

    <div class="search-container" id="search-container">
        <div class="search-central">
            <label for="numbers" class="numbers-label">N° Players</label>
            <select name="numbers" id="numbers">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input class="search-input" type="text" placeholder="Search player..">
            <select name="numbers" id="game">
                <option value="lol">
                    League of Legends
                </option>
                <option value="vl">Valorant</option>
            </select>
        </div>
    </div>

</body>
</html>
