<%= stylesheet_link_tag "item" %>

<div class="item-container">
    <h1>League of Legends Items</h1>

    <!-- AGGIUNGERE BARRA RICERCA OGGETTI -->

    <div class="image-gallery">
        <% @images.each do |image_path| %>
            <%= image_tag image_path.gsub('app/assets/images/', ''), class: 'item-image' %>
        <% end %>
    </div>
</div>
