body {
    background-color: #1c1c1c;
}

.admin-patch-note-details {
    font-family: "Abel", sans-serif;
    color: #ffffff;
    padding: 0px 20px;
    border: 1px solid #2c2c2c;
    border-radius: 5px;
    margin-left: 15%;
    width: 100%;
}

.admin-patch-note-details h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.admin-patch-note-details h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.admin-patch-note-details p {
    font-size: 18px;
    line-height: 1.6;
}

.admin-patch-note-details img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.admin-patch-note-details a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #2c2c2c;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.admin-patch-note-details a:hover {
    background-color: #141414;
}

.admin-patch-note-details div {
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    .admin-patch-note-details {
        margin: 50px 0px 0px 0px;
    }
}

@media (min-width: 480px) and (max-width: 940px) {
    .admin-patch-note-details {
        margin: 50px 0px 0px 0px;
    }
}

@media (min-width: 940px) and (max-width: 1023px) {
    .admin-patch-note-details {
        margin: 50px 0px 0px 0px;
    }
}
