<%= stylesheet_link_tag 'about' %>

    <div class="about-container" id="about-container">
        <div class="about-container-north">
            <h1>About Us</h1>
        </div>

        <div class="about-container-south">
            <div class="about-item left">
            <%= image_tag 'about/about-content-1.jpg', alt: '' %>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nulla porro nesciunt voluptatibus qui, perspiciatis nobis veritatis fugit voluptates dolorum quae fuga commodi? Vero ipsam placeat minima, repudiandae et accusantium!</p>
            </div>
            <div class="about-item right">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nulla porro nesciunt voluptatibus qui, perspiciatis nobis veritatis fugit voluptates dolorum quae fuga commodi? Vero ipsam placeat minima, repudiandae et accusantium!</p>
            <%= image_tag 'about/about-content-2.jpg', alt: '' %>
            </div>
            <div class="about-item left">
            <%= image_tag 'about/about-content-3.jpg', alt: '' %>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nulla porro nesciunt voluptatibus qui, perspiciatis nobis veritatis fugit voluptates dolorum quae fuga commodi? Vero ipsam placeat minima, repudiandae et accusantium!</p>
            </div>
        </div>
    </div>

