@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Abel", sans-serif;
    background-color: #2c2c2c;
    color: white;
    font-size: 18px;
}

body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

body::-webkit-scrollbar-track {
    background: #828282;
}

body::-webkit-scrollbar-thumb {
    background: #2c2c2c;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

.notice,
.alert {
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
}

.notice {
    background-color: #57ff56;
    color: black;
}

.alert {
    background-color: #fe3636;
}

nav {
    width: 100%;
    height: 10%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-container ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-container ul div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container ul a {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s ease-out;
    color: white;
    cursor: pointer;
}

.nav-container ul button {
    font-family: "Abel", sans-serif;
    font-size: 20px;
    border: none;
    background: none;
    color: white;
    margin: 10px;
    padding: 10px 20px;
}

.nav-container a:hover,
.nav-container button:hover {
    background-color: #2c2c2c;
    border: 2px solid rgb(176, 173, 0);
    cursor: pointer;
}

.sidebar {
    width: 15%;
    background-color: black;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
    overflow-x: hidden;
}

.sidebar-top,
.sidebar-bottom {
    width: 100%;
}

.sidebar-bottom {
    display: flex;
    align-items: flex-end;
}

.sidebar-bottom div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #767676;
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.sidebar-bottom div a {
    width: 100%;
    margin: 0;
    padding: 0;
}

.mobile-right div {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
}

.mobile-right button {
    width: 100%;
    background: none;
    border: none;
    color: white;
    font-family: "Abel", sans-serif;
    font-size: 18px;
    padding: 15px 0px;
}

.mobile-right div:last-child {
    width: 100%;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-right img,
.mobile-left img {
    transform: translateY(2px);
}

.mobile-right a {
    width: 100%;
    padding: 0;
}

.sidebar-bottom div:hover {
    background-color: #2c2c2c;
}

.sidebar a {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 10px 10px 10px 10px;
    margin: 10px 0;
    text-align: left;
    font-size: 20px;
    transition: 0.2s ease-out;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .logo img {
    width: 100%;
}

.mobile-top .logo img {
    width: 50%;
}

.sidebar-top a:hover {
    background-color: #2c2c2c;
}

.hamburger-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 9999999;
}

.hamburger-icon span {
    width: 100%;
    border: 3px solid white;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    position: relative;
    z-index: 2;
}

.login-container {
    position: fixed;
    width: 100%;
    height: min-content;
    top: 50px;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    z-index: -1;
    transform: scale(0.9);
    transition: 1s ease;
}

.login-section,
.signup-section {
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    border: 2px solid black;
    transition: 1s ease;
}

.signup-section {
    width: 600px;
}

.login-north-container,
.signup-north-container {
    width: 82.5%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-north-container {
    height: 0%;
}

.login-mid-container,
.signup-mid-container {
    width: 100%;
    height: 60%;
}

.login-south-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-icon {
    transform: scale(0.8);
    margin: 10px;
    transition: 0.3s ease;
}

.login-icon:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.login-mid-container,
.signup-mid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-mid-north-container,
.signup-mid-north-container {
    width: 80%;
    height: 55%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid rgb(144, 144, 144);
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: #141414;
    font-size: 12px;
}

.login-mid-north-container label {
    font-size: 18px;
}

.signup-mid-north-container {
    font-size: 11px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.login-mid-north-container input,
.signup-mid-north-container input {
    padding: 12px;
    border-radius: 5px;
    width: 90%;
    font-family: "Abel", sans-serif;
    margin-bottom: 10px;
}

.login-mid-south-container,
.signup-mid-south-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 45%;
}

.login-mid-south-container input,
.signup-mid-south-container input {
    padding: 15px 70px;
    border-radius: 10px;
    font-family: "Abel", sans-serif;
    background-color: #2c2c2c;
    color: white;
    border: none;
    margin: 5px 0;
    font-size: 18px;
    transition: 0.5s ease;
}

.login-mid-south-container input:hover,
.signup-mid-south-container input:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.login-mid-north-container a:last-child,
.signup-mid-north-container a:last-child {
    font-size: 15px;
    text-decoration: none;
    color: white;
    color: rgb(186, 186, 186);
}

.login-mid-north-container a:last-child:hover,
.signup-mid-north-container a:last-child:hover {
    color: white;
    cursor: pointer;
}

.login-mid-south-container a {
    text-decoration: none;
    color: white;
}

.login-mid-south-container a:last-child:hover,
.signup-mid-south-container a:last-child:hover {
    color: red;
    cursor: pointer;
}

.signup-mid-south-container a {
    padding: 5px;
}

.signup-mid-south-container a {
    text-decoration: none;
}

.mobile-container {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobile-top {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    border-bottom: 1px solid white;
    background-color: #000000;
}

.hamburger-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 3px;
    border: 3px solid white;
    margin: 3px;
}

.mobile-bottom {
    position: fixed;
    z-index: -1;
    top: 50px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.mobile-left,
.mobile-right {
    transition: 0.5s ease;
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    transition: 0.3s linear;
    background-color: #000000;
}

.mobile-left {
    align-items: flex-start;
    border-right: 1px solid white;
    left: -500px;
}

.mobile-right {
    align-items: flex-end;
    border-left: 1px solid white;
    right: -500px;
}

.mobile-left a,
.mobile-right a {
    text-decoration: none;
    color: white;
    padding: 15px 0px;
    width: 100%;
}

.mobile-left a {
    text-align: left;
}

.mobile-right a {
    text-align: right;
}

.mobile-left a:hover,
.mobile-right a:hover,
.mobile-right div:hover {
    background-color: #767676;
}

.mobile-left .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-left .logo img {
    transform: scale(0.5);
}

.invisible {
    display: none;
}

.two-factor-container {
    width: 450px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #141414;
    border-radius: 15px;
}

.two-factor-container-north {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40%;
}

.two-factor-container-south {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.two-factor-container-south form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #2c2c2c;
    padding: 20px;
}

.two-factor-container-south form input {
    outline: none;
    border-radius: 5px;
    border: 1px solid #2c2c2c;
    padding: 5px;
    margin: 5px;
}

.two-factor-container-south form input[type="submit"] {
    padding: 10px;
    background-color: #000000;
    color: white;
    transition: 0.2s ease;
    cursor: pointer;
}

.two-factor-container-south form input[type="submit"]:hover {
    background-color: rgb(87, 87, 87);
    color: white;
}

.edit-container {
    width: 600px;
    background-color: #141414;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    max-height: 700px;
}

.edit-container-north {
    margin: 5px 10px;
    text-align: center;
}

.edit-container-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-container-south {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2c2c2c;
    margin: 20px 0px;
    border-radius: 10px;
    text-align: left;
    padding: 10px 0px;
}

.edit-container-mid-north,
.edit-container-mid-south {
    background-color: #2c2c2c;
    border-radius: 15px;
    padding: 5px 15px;
}

.edit-container-mid-north {
    margin-bottom: 15px;
}

.edit-container-mid-south {
    margin-top: 15px;
}

.edit-container-mid-north label,
.edit-container-mid-south label {
    font-size: 20px;
}

.edit-container-mid-north div {
    font-size: 15px;
}

.edit-container-mid-south i,
.edit-container-mid-south em {
    font-size: 15px;
}

.edit-container input {
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 5px 0px;
}

.edit-container-mid-south .actions input {
    background-color: #141414;
    color: white;
    padding: 10px;
    transition: 0.2s ease;
    border: 1px solid black;
}

.edit-container-mid-south .actions input:hover {
    background-color: #2c2c2c;
}

#error_explanation h2 {
    font-size: 17px;
}

.edit-container-north h2 {
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #2c2c2c;
    color: #dcdcdc;
}

.edit-container-south button {
    font-family: "Abel", sans-serif;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    background-color: red;
    border-radius: 10px;
    border: none;
    transition: 0.2s ease;
    font-size: 16px;
    cursor: pointer;
}

.edit-container-south button:hover {
    background-color: #8d0000;
}

.edit-container-south a {
    font-family: "Abel", sans-serif;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    transition: 0.2s ease;
    background-color: #0249fc;
}

.edit-container-south a:hover {
    background-color: #1d5dff;
}

.contact-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(bg_contact_us.jpg);
    background-size: cover;
    background-position: center;
}

.contact-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: grayscale(90%);
    z-index: 0;
}

.contact-container-north,
.contact-container-south {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-container-north {
    color: rgb(255, 0, 0);
    height: 10%;
    margin: 20px;
}

.contact-container-north h1 {
    padding: 10px 20px;
    background-color: #000000;
    border: 1px solid rgb(122, 122, 122);
}

.contact-container-south {
    height: 90%;
}

.contact-form-north {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-container-south {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-30px);
}

.contact-container form {
    border: 1px solid rgb(68, 68, 68);
    width: 100%;
    max-width: 600px;
    background: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-form-north,
.contact-form-south {
    display: flex;
    flex-direction: column;
}

.contact-container .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contact-container .row label {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
}

.contact-container .row input[type="text"],
.contact-container .row input[type="email"] {
    flex: 1;
    padding: 10px;
    margin: 10px 10px 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: white;
    outline: none;
}

.contact-container .input-subject {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form-south label {
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-container textarea {
    width: 95%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 20px;
    font-family: "Abel", sans-serif;
    background-color: #2c2c2c;
    color: white;
    outline: none;
    padding: 10px;
}

.contact-container input[type="submit"] {
    background-color: #0048ff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s ease;
}

.contact-container input[type="submit"]:hover {
    background-color: #0032b1;
}

/* Per migliorare il layout su dispositivi mobili */
@media (max-width: 600px) {
    .contact-container .row label {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .contact-container .row input[type="text"],
    .contact-container .row input[type="email"] {
        width: 100%;
    }

    .contact-container .input-subject {
        width: 100%;
    }

    .contact-container .row label {
        flex: 2;
        margin-right: 10px;
        font-weight: bold;
    }

    .contact-container {
        width: 100%;
    }

    .contact-container-south {
        transform: scale(0.87);
        height: 95%;
    }

    .contact-container-north {
        font-size: 15px;
        height: 5%;
        width: 100%;
        padding: 5px;
        margin-top: 100px;
    }

    .contact-container textarea {
        width: 92.5%;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .contact-container {
        width: 100%;
        background-size: cover;
    }

    .contact-container-south {
        transform: scale(0.55) translateY(-50px);
    }

    .contact-container-north {
        position: relative;
        z-index: 1;
        font-size: 13px;
        margin-top: 70px;
    }
}


@media (max-width: 480px) {
    .invisible {
        display: flex;
    }

    nav {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .signup-section {
        transform: scale(0.68);
    }

    .signup-mid-north-container {
        font-size: 12px;
    }

    .signup-mid-north-container input {
        padding: 15px;
        font-size: 15px;
        color: black;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .invisible {
        display: flex;
    }

    .mobile-left .logo {
        display: none;
    }

    .nav-container {
        display: none;
    }

    .sidebar {
        position: fixed;
        width: 50%;
        z-index: 2;
        left: -500px;
        border: 2px solid black;
    }

    .sidebar a {
        padding: 5px;
        font-size: 15px;
    }

    .sidebar-top a {
        margin: 10px 0;
    }

    .sidebar-bottom a {
        margin-top: 0;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
    }

    .login-section,
    .signup-section {
        transform: scale(0.55);
    }

    .login-container {
        height: -webkit-fill-available;
        align-items: center;
    }


    /*
    *= require bootstrap
    */
}
