@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Abel", sans-serif;
    background-color: #2c2c2c;
    color: white;
    font-size: 18px;
}

body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

body::-webkit-scrollbar-track {
    background: #828282;
}

body::-webkit-scrollbar-thumb {
    background: #2c2c2c;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

.notice,
.alert {
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
}

.notice {
    background-color: #57ff56;
    color: black;
}

.alert {
    background-color: #fe3636;
}

nav {
    width: 100%;
    height: 10%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-container ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-container ul div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container ul a {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s ease-out;
    color: white;
    cursor: pointer;
}

.nav-container ul button {
    font-family: "Abel", sans-serif;
    font-size: 20px;
    border: none;
    background: none;
    color: white;
    margin: 10px;
    padding: 10px 20px;
}

.nav-container a:hover,
.nav-container button:hover {
    background-color: #2c2c2c;
    border: 2px solid rgb(176, 173, 0);
    cursor: pointer;
}

.sidebar {
    width: 15%;
    background-color: black;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
    overflow-x: hidden;
}

.sidebar-top,
.sidebar-bottom {
    width: 100%;
}

.sidebar-bottom {
    display: flex;
    align-items: flex-end;
}

.sidebar-bottom div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #767676;
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.sidebar-bottom div a {
    width: 100%;
    margin: 0;
    padding: 0;
}

.mobile-right div {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
}

.mobile-right button {
    width: 100%;
    background: none;
    border: none;
    color: white;
    font-family: "Abel", sans-serif;
    font-size: 18px;
    padding: 15px 0px;
}

.mobile-right div:last-child {
    width: 100%;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-right img,
.mobile-left img {
    transform: translateY(2px);
}

.mobile-right a {
    width: 100%;
    padding: 0;
}

.sidebar-bottom div:hover {
    background-color: #2c2c2c;
}

.sidebar a {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 10px 10px 10px 10px;
    margin: 10px 0;
    text-align: left;
    font-size: 20px;
    transition: 0.2s ease-out;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .logo img {
    width: 100%;
}

.mobile-top .logo img {
    width: 50%;
}

.sidebar-top a:hover {
    background-color: #2c2c2c;
}

.hamburger-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 9999999;
}

.hamburger-icon span {
    width: 100%;
    border: 3px solid white;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    position: relative;
    z-index: 2;
}

.mobile-container {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobile-top {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    border-bottom: 1px solid white;
    background-color: #000000;
}

.hamburger-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 3px;
    border: 3px solid white;
    margin: 3px;
}

.mobile-bottom {
    position: fixed;
    z-index: -1;
    top: 50px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.mobile-left,
.mobile-right {
    transition: 0.5s ease;
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    transition: 0.3s linear;
    background-color: #000000;
}

.mobile-left {
    align-items: flex-start;
    border-right: 1px solid white;
    left: -500px;
}

.mobile-right {
    align-items: flex-end;
    border-left: 1px solid white;
    right: -500px;
}

.mobile-left a,
.mobile-right a {
    text-decoration: none;
    color: white;
    padding: 15px 0px;
    width: 100%;
}

.mobile-left a {
    text-align: left;
}

.mobile-right a {
    text-align: right;
}

.mobile-left a:hover,
.mobile-right a:hover,
.mobile-right div:hover {
    background-color: #767676;
}

.mobile-left .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-left .logo img {
    transform: scale(0.5);
}

.invisible {
    display: none;
}

@media (max-width: 480px) {
    .invisible {
        display: flex;
    }

    nav {
        display: none;
    }

    .sidebar {
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .invisible {
        display: flex;
    }

    .mobile-left .logo {
        display: none;
    }

    .nav-container {
        display: none;
    }

    .sidebar {
        position: fixed;
        width: 50%;
        z-index: 2;
        left: -500px;
        border: 2px solid black;
    }

    .sidebar a {
        padding: 5px;
        font-size: 15px;
    }

    .sidebar-top a {
        margin: 10px 0;
    }

    .sidebar-bottom a {
        margin-top: 0;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
    }
}
