.champions-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/assets/contact_us/bg_contact_us.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 15%;
}

.champions-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: grayscale(90%);
    z-index: 0;
}

.champions-container-north,
.champions-container-mid {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.champions-container-north,
.champions-container-mid {
    margin: 10px;
}

.champions-container-north {
    text-align: center;
    color: red;
    width: 250px;
    background-color: #121212;
    border: 2px solid rgb(162, 162, 162);
}

.champions-container-mid {
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(155, 155, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
}

.champions-container-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form .form-group {
    margin: 5px 0px;
}

.champion-button {
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Abel", sans-serif;
    background-color: #2c2c2c;
    border: 2px solid #141414;
    border-radius: 8px;
    color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.champion-button:hover {
    background-color: #121212;
    color: #e74c3c;
}

.champions-container-mid hr {
    border: none;
    height: 2px;
    width: 100%;
    background: linear-gradient(to left, #2c2c2c 25%, white 50%, #2c2c2c 75%);
}

.champions-container-mid input {
    padding: 5px;
    border: none;
    border-radius: 2px;
    outline: none;
    margin: 0px 5px;
}

@media (max-width: 480px) {
    .champions-container {
        margin: 50px 0px 0px 0px;
    }
    .champions-container-north,
    .champions-container-mid {
        transform: scale(0.9);
    }
}

@media (min-width: 480px) and (max-width: 940px) {
    .champions-container {
        margin: 50px 0px 0px 0px;
    }

    .champions-container-north,
    .champions-container-mid {
        transform: scale(0.8);
    }

    .champions-container-north {
        transform: translateY(30px);
    }
}
@media (min-width: 1024px) and (max-width: 1080px) {
}
