body {
    background-color: #141414;
}
.edit-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 15%;
}

.edit-container-north {
    margin: 5px 10px;
    text-align: center;
}

.edit-container-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-container-south {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    text-align: left;
    padding: 10px 0px;
}

.edit-container-mid-north,
.edit-container-mid-south {
    background-color: #2c2c2c;
    border-radius: 15px;
    padding: 5px 15px;
}

.edit-container-mid-north {
    margin-bottom: 15px;
}

.edit-container-mid-south {
    margin-top: 15px;
}

.edit-container-mid-north label,
.edit-container-mid-south label {
    font-size: 20px;
}

.edit-container-mid-north div {
    font-size: 15px;
}

.edit-container-mid-south i,
.edit-container-mid-south em {
    font-size: 15px;
}

.edit-container input {
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 5px 0px;
}

.edit-container-mid-south .actions input {
    background-color: #141414;
    color: white;
    padding: 10px;
    transition: 0.2s ease;
    border: 1px solid black;
}

.edit-container-mid-south .actions input:hover {
    background-color: #2c2c2c;
}

#error_explanation h2 {
    font-size: 17px;
}

.edit-container-north h2 {
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #2c2c2c;
    color: #dcdcdc;
}

.edit-container-south button {
    font-family: "Abel", sans-serif;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    background-color: red;
    border-radius: 10px;
    border: none;
    transition: 0.2s ease;
    font-size: 16px;
    cursor: pointer;
}

.edit-container-south button:hover {
    background-color: #8d0000;
}

.edit-container-south a {
    font-family: "Abel", sans-serif;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    transition: 0.2s ease;
    background-color: #0249fc;
    font-size: 16px;
}

.edit-container-south a:hover {
    background-color: #1d5dff;
}

@media (max-width: 480px) {
    .edit-container {
        margin: 50px 0px 0px 0px;
    }

    .edit-container form {
        transform: scale(0.9);
    }
}

@media (min-width: 480px) and (max-width: 940px) {
    .edit-container {
        margin: 50px 0px 0px 0px;
    }

    .edit-container form {
        transform: scale(0.9);
    }
}

@media (min-width: 1024px) and (max-width: 1080px) {
    .edit-container {
        margin: 50px 0px 0px 0px;
    }

    .edit-container form {
        transform: scale(0.9);
    }
}
