body {
    background: linear-gradient(
        to bottom right,
        rgb(245, 58, 58) 50%,
        black 50%
    );
}

.patch-notes-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
}

.patch-notes {
    width: 100%;
    max-width: 1200px;
}

.patch-notes-north {
    text-align: center;
    margin-bottom: 20px;
}

.patch-notes-south {
    display: flex;
    flex: wrap;
    justify-content: center;
}

.patch-notes-card {
    background-color: #464646;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    max-width: 300px;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.patch-notes-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.patch-notes-card img {
    max-width: 100%;
    border-radius: 4px;
}

.patch-notes-card h3 {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid white;
    font-size: 1.25rem;
}

.patch-notes-card span {
    display: block;
    margin-top: 10px;
    font-size: 0.875rem;
    color: white;
}

/* Stili responsivi */
@media (max-width: 480px) {
    .patch-notes-container {
        top: 30px;
    }
}

@media (max-width: 768px) {
    .patch-notes-card h3 {
        font-size: 16px;
    }
}

/* Prefissi per la compatibilità tra browser */
.patch-notes-card {
    -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease;
    -moz-transition: transform 0.3s ease, box-shadow 0.3s ease;
    -o-transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.patch-notes-card:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
}
