<%= stylesheet_link_tag 'champions' %>

<div class="champions-container">
    <div class="champions-container-north">
        <h2>Champion Ratings</h2>
    </div>

    <div class="champions-container-mid">
        <%= form_with url: champion_masteries_path, method: :get, local: true do
        %>
        <div class="form-group">
            <label for="riot_id">Riot ID:</label>
            <input
                type="text"
                class="form-control"
                id="riot_id"
                name="riot_id"
                placeholder="Enter your Riot ID"
                required
            />
        </div>
        <hr />
        <div class="form-group">
            <label for="tagline">Tagline:</label>
            <input
                type="text"
                class="form-control"
                id="tagline"
                name="tagline"
                placeholder="Enter your tagline"
                required
            />
        </div>
        <hr />
        <div class="form-group">
            <label for="continent">Continent:</label>
            <select
                class="form-control"
                id="continent"
                name="continent"
                required
            >
                <option value="europe">Europe</option>
                <option value="americas">Americas</option>
                <option value="asia">Asia</option>
                <option value="esports">Esports</option>
            </select>
        </div>
        <hr />
        <div class="form-group">
            <label for="region">Region:</label>
            <select class="form-control" id="region" name="region" required>
                <option value="euw1">EUW1</option>
                <option value="na1">NA1</option>
                <option value="kr">KR</option>
                <option value="br1">BR1</option>
                <option value="eun1">EUN1</option>
                <option value="jp1">JP1</option>
                <option value="la1">LA1</option>
                <option value="la2">LA2</option>
                <option value="oc1">OC1</option>
                <option value="tr1">TR1</option>
                <option value="ru">RU</option>
            </select>
        </div>
        <hr />

        <button type="submit" class="btn btn-primary">Show</button>
        <% end %>
    </div>
</div>
