body {
    background: linear-gradient(to right, black 50%, rgb(245, 58, 58) 50%);
}

/* Stili per la password-container */
.password-container {
    width: 90%; /* Utilizza una larghezza percentuale per adattarsi alla larghezza dello schermo */
    max-width: 400px; /* Imposta una larghezza massima per evitare che diventi troppo grande su schermi grandi */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    border-radius: 10px;
    border: 2px solid #2c2c2c;
    padding: 20px;
    transition: 1s ease;
    margin-top: 100px;
}

.password-container h2 {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
}

/* Stili per i campi input */
.field {
    width: 100%;
}

.field-north {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.field-north label {
    margin-bottom: 5px;
    font-size: 14px;
}

.field-north input {
    width: 100%; /* Occupa tutta la larghezza disponibile */
    padding: 10px;
    border: 1px solid #2c2c2c;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #ffffff;
    box-sizing: border-box; /* Assicura che il padding non aumenti la larghezza totale */
}

.field-north input::placeholder {
    color: #cccccc;
}

.field-south {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-south input[type="submit"] {
    width: 100%; /* Occupa tutta la larghezza disponibile */
    padding: 10px 15px; /* Riduci il padding orizzontale per adattarsi meglio ai dispositivi mobili */
    border-radius: 10px;
    font-family: "Abel", sans-serif;
    background-color: #2c2c2c;
    color: white;
    border: none;
    margin: 10px 0; /* Aggiungi spazio sopra e sotto */
    font-size: 17px;
    transition: 0.5s ease;
    box-sizing: border-box; /* Assicura che il padding non aumenti la larghezza totale */
}

.field-south input[type="submit"]:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* Stili per il container delle azioni */
.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.actions a {
    font-size: 15px;
    text-decoration: none;
    color: rgb(186, 186, 186);
    transition: 0.2s ease;
    margin: 5px;
}

.actions a:hover {
    color: red;
    cursor: pointer;
}

/* Stili per il container dei link */
.links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Gestisci il wrapping dei link su dispositivi mobili */
}

.links a {
    padding: 10px 15px;
    color: rgb(231, 231, 231);
    border-radius: 10px;
    margin: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s ease;
    text-align: center;
    box-sizing: border-box; /* Assicura che il padding non aumenti la larghezza totale */
}

.links a:first-of-type {
    background-color: #2c2c2c;
    color: white;
}

.links a:first-of-type:hover {
    background-color: #535353;
    color: rgb(11, 11, 11);
}

.links a:last-of-type {
    background-color: #565555;
    color: white;
}

.links a:last-of-type:hover {
    background-color: #2c2c2c;
    color: rgb(145, 145, 145);
}

/* Stili per il pulsante OAuth */
.oauth-button {
    transition: 0.2s ease;
}

.oauth-button:hover {
    transform: scale(1.2);
}

form:first-child {
    width: 80%;
}

@media (max-width: 480px) {
    .password-container {
        width: 85%;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1024) {
}
